*{
background: #12232E;
}
.symbol{
	background-image: url(symbol.svg);
	position: absolute;
width: 200px;
height: 200px;
left: -28px;
top: 1px;
}
.title{
	background-image: url(DocGo.svg);
	position: absolute;
width: 203px;
height: 52px;
left: 150px;
top: 30px;
}
.line{
	background-image: url(Line2.svg);
	position: absolute;
left: 9.31%;
right: 70.25%;
top: 16.44%;
bottom: 95.52%;

border: 3px solid #68CA44;
transform: matrix(1, -0.01, 0, 1, 0, 0);
}
.are{
	background-image: url(Are.svg);
	position: absolute;
width: 321px;
height: 33px;
left: 700px;
top: 36px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;

color: #247707;
}
.sign{
	background-image: url(SignUp.svg);
	position: absolute;
width: 217px;
height: 35px;
left: 1033px;
top: 36px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #78E751;

}
.quote{
	background-image: url(quote.svg);
	position: absolute;
width: 850px;
height: 66px;
left: 301px;
top: 230px;

font-family: Pecita;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
/* identical to box height */


color: #FFFFFF;

}
.quote2{
	background-image: url(quote2.svg);
	position: absolute;
width: 729px;
height: 144px;
left: 200px;
top: 424px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 87px;

color: #FFFFFF;
}

input{
	position: absolute;
width: 913px;
height: 59px;
left: 200px;
top: 688px;

/* 2 gray */

background: #EDEFF2;
border-radius: 2px;
}
.spec{
	background-image: url(spec.svg);
	position: absolute;
width: 697px;
height: 57px;
left: 68px;
top: 924px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 87px;

color: #FFFFFF;
}

.frame3{
	background-image: url(Frame3.svg);
	position: absolute;
width: 323px;
height: 305px;
left: 97px;
top: 1064px;

border: 1px solid #247707;
box-sizing: border-box;

}
.frame4{
	background-image: url(Frame4.svg);
	position: absolute;
width: 383px;
height: 305px;
left: 492px;
top: 1064px;

border: 1px solid #247707;
box-sizing: border-box;
}
.frame5{
	background-image: url(Frame5.svg);
	position: absolute;
width: 383px;
height: 305px;
left: 947px;
top: 1064px;

border: 1px solid #247707;
box-sizing: border-box;
}
.frame6{
	background-image: url(Frame6.svg);
	position: absolute;
width: 361px;
height: 305px;
left: 97px;
top: 1502px;

border: 1px solid #247707;
box-sizing: border-box;
}

.frame8{
	background-image: url(Frame8.svg);
	position: absolute;
width: 361px;
height: 305px;
left: 947px;
top: 1502px;

border: 1px solid #247707;
box-sizing: border-box;
}
.frame9{
	background-image: url(Frame9.svg);
	position: absolute;
width: 361px;
height: 305px;
left: 277px;
top: 1890px;

border: 1px solid #247707;
box-sizing: border-box;
}
.frame10{
	background-image: url(Frame10.svg);
	position: absolute;
width: 361px;
height: 305px;
left: 521px;
top: 1502px;

border: 1px solid #247707;
box-sizing: border-box;
}
.frame11{
	background-image: url(Frame11.svg);
	position: absolute;
width: 361px;
height: 305px;
left: 743px;
top: 1890px;

border: 1px solid #247707;
box-sizing: border-box;
}
.line4{
	background-image: url(Line4.svg);
	position: absolute;
left: 0%;
right: 0.07%;
top: 376.42%;
bottom: 23.55%;

border: 5px solid #68CA44;
transform: matrix(1, -0.01, 0, 1, 0, 0);
}